.sidenav-container {
  height: 100%;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav {
  width: 280px;
}

.toolbar {
  height: 50px;
  line-height: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
}

mat-toolbar > button {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 16px;
  background-color: #f5f5f5;
}

@media (min-width: 700px) {
  .sidenav {
    width: 360px;
  }
}
