@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.animated-background {
  animation: gradient 15s ease infinite;
}

.dropdown-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.dropdown-wrapper.open {
  max-height: 500px;
}
